*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color:rgb(241, 166, 153);
    color:black;
}
.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.main
{
    background-color: white;
    width: 1100px;
    height: 710px;
}
article
{
    width: 1000px;
    height: 550px;
    vertical-align: middle;
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.options
{
    height: 100%;
    width: 40%;
    position: relative;
    left: 60%;
    background-image: url(./options.jpeg);
    backdrop-filter: blur(6px);
}
.inside
{
    padding: 40px;
}
.inside>input
{
    border: none;
    background-color: transparent;
    height: 20px;
    margin-bottom: 10px;
    outline: none;
}
p
{
    margin: 25px 0;
}
h4
{
    margin: 35px 0;
    color: white;
}
hr
{
    border: none;
    border-top: 1px solid whitesmoke;
}
.sbox
{
    background-color: black;
    position:absolute;
    right: 0;
    width:72px;
    height:72px;
}
.inside table
{
    margin-top: -12px;
    width: 100%;  
}
.inside td
{
    padding: 12px 0;
}
.desc
{
    text-align: right;
    color: white;
}
.outside
{
    position: absolute;
    height: 100%;
    width: 60%;
    padding-left: 50px;
}
.weather
{
    position: absolute;
    bottom: 70px;
    left: 50px;
    color: white;
    display: flex;
}
.weather table
{
    height: min-content;
    margin: auto;
}
.weather td
{
    padding: 0px 10px;
    vertical-align: top;
}
.temp
{
    font-size: 5.5rem;
}
td>img
{
    width: 30px;
}
.rain p
{
    margin-top: -15px;
}
.city
{
    vertical-align: bottom;
    font-size: 2rem;
}
.info
{
    font-size: 0.65rem;
}